.zones {
  display: grid;
  grid-template-rows: auto 1fr auto;

  .cartas {
    display: grid;
    grid-template-rows: auto 1fr;

    &__info-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: 1290px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 1090px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 690px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
