.basic-loader {
  position: relative;
  width: 60px;
  height: 60px;
}

.basic-loader:before,
.basic-loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2) inset;
}
.basic-loader:after {
  box-shadow: 0 2px 0 #247ebe inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
