.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.login-img {
  background-image: url("https://lh3.googleusercontent.com/p/AF1QipNci-W6ukY4-MKJvLznl1JtiJt4tChH94-MSfRB=s1360-w1360-h1020");
  background-position: center;
  width: 945px;
}
.login {
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  &-body {
    background-color: #b6afaf4d;
  }
}
.login-header {
  background-image: url("/public/img/Imagen\ de\ WhatsApp\ 2024-11-09\ a\ las\ 20.21.32_b4805a62.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-footer {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
